.team_container {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: space-around;
}
.team_container div {
  width: 25%;
  height: auto;
}

.back {
  margin-top: 2.5vw;
}

.team_container div img {
  border-radius: 10px;
}
.team_container div h5 {
  margin-block-start: 0;
}
.team_container div h3 {
  margin-block-end: 0.3em;
}
.team_container div h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.first_image_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0;
}

.first_image_container img {
  height: 30vw;
  width: auto;
  border-radius: 5px;
}

.text_container p {
  font-size: 1.5vw;
}

.text_container ul {
  padding-left: 1vw;
}

.text_container ul li {
  font-size: 1.5vw;

  padding-bottom: 0.5vw;
}

.full_image {
  width: 49% !important;
}

@media screen and (min-width: 1920px) {
  .team_container {
  }
  .team_container div img {
    width: 20vw;
    height: 20vw;
  }

  .first_image_container img {
    width: auto;
    height: 25vw;
  }

  .text_container p {
    font-size: 1vw;
  }

  .text_container ul li {
    font-size: 1vw;
  }
}

@media screen and (max-width: 1300px) {
  .team_container div img {
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (max-width: 900px) {
  .team_container {
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .team_container div {
    width: 50%;
  }
  .team_container div img {
    width: 40vw;
    height: 40vw;
  }
  .first_image_container img {
    width: auto;
    height: 22vh;
  }
  .first_image_container img:last-child {
    display: none;
    visibility: none;
  }
  .full_image {
    width: 100% !important;
    height: 100% !important;
  }
  .text_container p {
    font-size: 4vw;
  }
  .text_container ul li {
    font-size: 4vw;
    padding-bottom: 1vw;
  }
}
