.container {
  padding-top: 10vw;
  margin-bottom: -50vw;
}

.container div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  line-height: 4rem;
}
.container h1 {
  font-size: 66.0096px;
  margin-bottom: 2rem;
}

.container div p:first-child {
  margin-block-start: 0;
  margin-block-end: 0;
  width: 30%;
}

.container div p:nth-child(2) {
  margin-right: auto;
}

@media screen and (min-width: 1920px) {
  .container {
    margin-bottom: -66vw;
  }
}
@media screen and (max-width: 1070px) {
  .container {
    margin-bottom: -18rem;
    padding-top: 7rem;
  }
  .container div {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    flex-direction: column;
  }
  .container div p:first-child {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 700;
    width: 100%;
    margin-top: 1rem;
  }

  .container div p:nth-child(2) {
    padding-right: 0;
    padding-bottom: 0.3vw;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin-bottom: -10rem;
    padding-top: 0;
  }
  .container h1 {
    font-size: 11vw;
  }
}
