.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 4.5rem;
}
.container div {
  width: 100%;
}

.container div img {
  object-fit: cover;
  width: 21.3vw;
  height: 28.8vw;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  transition: border-radius 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    filter 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-filter 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container div img:hover {
  border-radius: 50%;
}

.container div p {
  position: relative;
  z-index: 2;
  top: -22vw;
  right: -10vw;
  transform: rotate(90deg);
  font-weight: lighter;
  font-size: 14px;
}
.container div h5 {
  width: 21.3vw;
  font-weight: lighter;
  font-size: 1.4rem;

  border-top: 0.5px solid black;
  padding-top: 1rem;
  margin-block-start: 0;
  margin-block-end: 0em;
}

@media screen and (min-width: 1920px) {
  .container div img {
    width: 16.3vw;
    height: 19.8vw;
  }
  .container div h5 {
    width: 16.3vw;
    font-size: 1.5rem;
  }

  .container {
    padding-top: 5rem;
  }
  .container div p {
    top: -11.8vw;
    right: -6.5vw;
  }
}

@media screen and (min-width: 2500px) {
  .container div p {
    top: -11vw;
    right: -6vw;
  }
}

@media screen and (min-width: 1317px) and (max-width: 1919px) {
  .container div p {
    top: -20.8vw;
    right: -10vw;
  }
}
@media screen and (min-width: 815px) and (max-width: 1200px) {
  .container div p {
    top: -22.8vw;
    right: -10.2vw;
  }
}

@media screen and (min-width: 690px) and (max-width: 815px) {
  .container div p {
    top: -25.8vw;
    right: -10.2vw;
  }
}

@media screen and (max-width: 690px) {
  .container {
    flex-wrap: wrap;
  }
  .container div {
    width: 45%;
  }
  .container div img {
    width: 37.3vw;
    height: 38.8vw;
  }
  .container div h5 {
    width: 37.3vw;
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .container {
    align-items: flex-start;
  }

  .container div {
    margin-bottom: 2rem;
  }
  .container div img {
    width: 43vw;
    height: 65vw;
    margin-bottom: 0rem;
  }
  .container div h5 {
    width: 43vw;
    font-size: 3.7vw;
    border-top: 0;
    padding-top: 1vw;
  }
  .container div p {
    display: none;
  }
}
