.container {
  margin-top: -65vw;
  /* transform: translate(0px, -50%); */
}
.container h1 {
  font-size: 66.0096px;

  margin: 8rem 0;
}

.inner_container {
  display: flex;
  justify-content: space-between;
}

.inner_container h5 {
  font-size: 1.4vw;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.3rem;
}

.inner_container button {
  margin-top: 1.5rem;
  font-size: 12px;
  border-radius: 12px;
  padding: 4px 12px;
  color: white;
  background-color: #2a2a2a;
}
.inner_container button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.inner_text_container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 55vw;
  margin-bottom: 17.5rem;
  padding-left: 6.3rem;
}

.inner_text_container div {
  width: 40%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  height: 20vh;
}

.inner_text_container div p {
  width: 100%;
  font-size: 1.2vw;
  padding: 0.5vw 0;
}
.inner_text_container div p:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.inner_text_container div h5 {
  font-size: 1.2vw;
}

.bottom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;
  border-top: 1px solid #ccc;
}

.bottom_links_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom_links_container a {
  margin-right: 10rem;
}
.bottom_links_container a:last-child {
  margin-left: 6rem;
  margin-right: 0;
}

.bottom_container a:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

@media screen and (min-width: 1920px) {
  .container {
    margin-top: -135rem;
  }

  .inner_text_container {
    margin-bottom: 20.5rem;
  }

  .inner_text_container div h5 {
    font-size: 2rem;
    line-height: 3.3rem;
  }

  .bottom_container {
    margin: 0.3rem -8rem;
  }
}

@media screen and (max-width: 1070px) {
  .container {
    margin-top: -25rem;
  }

  .inner_text_container {
    margin-bottom: 6.5rem;
    flex-direction: column;
  }

  .inner_text_container div {
    width: 100%;
    padding-left: 10vw;
  }

  .inner_text_container div h5 {
    font-size: 1.7vw;
  }

  .inner_text_container div p {
    font-size: 1.5vw;
    line-height: 1.5rem;
  }

  .inner_container h5 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }
  .bottom_links_container a:last-child {
    margin-left: 0;
  }
  .bottom_links_container a {
    margin-right: 1rem;
  }
  .bottom_container {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .inner_container {
    flex-direction: column;
  }
  .inner_container h1 {
    flex-direction: column;
  }
  .inner_container div h5 {
    font-size: 5vw;
  }
  .inner_text_container {
    align-content: flex-start;
    padding-left: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .inner_text_container div {
    padding: 0;
  }

  .inner_text_container div h5 {
    font-size: 4vw;
  }

  .inner_text_container div p {
    font-size: 4vw;
    width: 100%;
  }

  .container {
    margin-top: -10rem;
  }

  .container h1 {
    font-size: 11vw;
    width: 100%;

    margin: 1rem 0;
  }
  .bottom_container {
    padding-bottom: 2vw;
    font-size: 4vw;
  }
  .bottom_links_container a {
    display: none;
    border-top: 1px solid #ccc;
  }
}
