html,
body {
  padding: 0 1rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f0f0f0;
    background-color: #f0f0f0;
  color: #2a2a2a;

}

.loading {
  overflow: hidden;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  color-scheme: light only;
}


h1 {
  margin-block-end: 0px;
  margin-inline-start: 0px;
}
p {
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-block-start: 0em;
}

.cursor {
  background-color: #111;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  border: 0px solid black;
}

@media screen and (min-width: 1920px) {
  body {
    padding: 0 10rem;
  }
}
@media screen and (max-width: 690px) and (min-width: 500px) {
  body {
    padding: 1rem;
  }
}
