.container {
  margin-bottom: 4rem;
}

.title {
  margin-bottom: 2rem;
}
.title h1 {
  font-size: 7.5vw;
  line-height: 1.8rem;
  font-weight: 400;
}

.sub_title h5 {
  line-height: 1.3rem;
  padding: 0.1rem 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: lighter;
  font-size: 1.4rem;
}

.word {
  overflow: hidden;
}

@media screen and (min-width: 1920px) {
  .title {
    margin-bottom: 3rem;
  }
  .sub_title h5 {
    font-size: 2rem;
    line-height: 1.7rem;
  }
  .title h1 {
    font-size: 7vw;
    line-height: 2.2rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 700px) {
  .title {
    margin-bottom: 2.5vw;
  }
  .sub_title h5 {
    font-size: 2.5vw;
    line-height: 2vw;
  }
}
@media screen and (max-width: 500px) {
  .title {
    margin-bottom: 3.5vw;
  }
  .sub_title h5 {
    font-size: 4vw;
    line-height: 4vw;
  }
}
