.container {
  margin-bottom: 4rem;
}

.title {
  margin-bottom: 2rem;
}
.title h1 {
  font-size: 7.5vw;
  line-height: 0.9rem;
  font-weight: 400;
}

.sub_title h5 {
  line-height: 0.7rem;
  padding: 0.1rem 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: lighter;
  font-size: 1rem;
}
@media screen and (min-width: 1920px) {
  .title {
    margin-bottom: 3rem;
  }
  .sub_title h5 {
    font-size: 2rem;
    line-height: 1.7rem;
  }
}

@media screen and (max-width: 700px) {
  .title {
    margin-bottom: 2.5vw;
  }
  .sub_title h5 {
    font-size: 2.5vw;
    line-height: 2vw;
  }
}

/* text reveal try*/

.wordContainer {
  overflow: hidden;
}

/* We define the animation */
@keyframes up {
  100% {
    transform: translateY(-50%);
  }
}

/* Then, every single word gets animated up */
.word {
  animation: up 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(500%);
}

/* Delay for staggering effect */
.textWrapper .wordContainer:nth-child(1) .word {
  animation-delay: 5.55s;
}
.textWrapper .wordContainer:nth-child(2) .word {
  animation-delay: 5.7s;
}
.textWrapper .wordContainer:nth-child(3) .word {
  animation-delay: 5.85s;
}
