.box1 {
  width: 10vw;
  background-image: url(https://cdn.discordapp.com/attachments/911293589261266965/1054367256504709120/deneme2.jpg);
  height: 10vw;
  background-repeat: no-repeat;
  background-size: 10vw 10vw;
  margin: 40vw;
}

.box1 img {
  width: 10vw;
  height: 10vw;
}
.box1 img:hover {
  opacity: 0;
}
