.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3rem;
  margin-bottom: 9.5rem;
}

.container h1 {
  font-size: 1vw;
  font-weight: 300;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.nav a {
  padding-left: 2rem;
  font-size: 1vw;
  font-weight: lighter;
}
.nav a:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
@media screen and (min-width: 1920px) {
  .container {
    margin: 2rem -7rem 10rem -7rem;
  }
  .nav a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1070px) {
  .container {
    margin-bottom: 10vw;
  }
  .container h1 {
    font-size: 2vw;
  }
  .nav a {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  .container {
    margin-bottom: 10vw;
  }
  .container h1 {
    font-size: 5vw;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
  .nav a {
    width: 50%;
    font-size: 2.5vw;
  }
}
