.container {
  margin-left: -2rem;
  width: 100vw;
  height: 50rem;
  text-align: center;
  margin-bottom: 9rem;
  background-image: url(/banner.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}

.container img {
  object-fit: cover;
  width: 100vw;
  height: 40rem;
}

@media screen and (min-width: 1920px) {
  .container {
    margin-top: 20rem;
    height: 27rem;
  }
}

@media (max-width: 500px) {
  .container {
    height: 50vh;
  }
  .container img {
    height: 50vh;
  }
}
