.container {
  width: 60rem;
  height: 200vw;
  overflow-y: scroll;
  padding-top: 75%;
  padding-bottom: 30vw;
  transform: rotate(-90deg);
  scale: 1;
}
.container h1 {
  width: 100%;
  margin-left: 55vh;
}
.container img {
  width: 63rem;
  object-fit: scale-down;
  margin-top: 5rem;
  background-image: none !important;
  background-size: 300px 100px;
  transform: rotate(90deg);
}

.container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1070px) {
  .container {
    width: 30rem;
    padding-top: 125%;
    scale: 1.8;
  }
  .container img {
    width: 30rem;
    margin-top: -30rem;
  }
  .container h1 {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .container {
    width: 30rem;
    padding-top: 115%;
    scale: 1.4;
  }
  .container img {
    width: 30rem;
    margin-top: -30rem;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    padding-top: 90%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 60rem;
    height: 200vw;
    overflow-y: scroll;
    padding: 0;
    transform: rotate(-90deg);
    scale: 0.5;
    margin-left: -65vw;
  }
  .container h1 {
    display: none;
    visibility: none;
  }
  .container img {
    width: 63rem;
    object-fit: scale-down;
    margin-top: 5rem;
    background-image: none !important;
    background-size: 300px 100px;
    transform: rotate(90deg);
  }
}
